nav>ul>li {
    display: inline-block;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid;
}

li:nth-of-type(4) {
    display: inline-block;
    padding: 0px 10px 0px 10px;
    border-right: 0px;
}

#gallery>img {
    width: 300px;
    height: 200px;
    margin: 0px 10px 0px 10px;
    padding: 5px;
    background-color: rgb(255, 214, 0);
    border-right: 5px solid red;
}

#gallery>img:hover {
    background-color: rgb(0, 220, 220);
}

form>input {
    display: block;
    margin: 0px 0px 5px 0px;
    width: 393px;
    padding: 5px;
}

#register-form {
    margin-top: 20px;
    border-top: 5px solid #4C5270;
    width: 407px;
}


form>button {
    width: 407px;
    background-color: rgb(108, 167, 195);
    color: white;
    padding: 5px;
}