/* 
THE ONLY PROPERTIES YOU NEED:
- display 
- border properties
- margin properties
- padding properties
- width & height
- background-color
- color
- box sizing
*/

nav>ul>li {
    display: inline-block;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid;
}

li:nth-of-type(4) {
    display: inline-block;
    padding: 0px 10px 0px 10px;
    border-right: 0px;
}

#gallery>img {
    width: 300px;
    height: 200px;
    margin: 0px 10px 0px 10px;
    padding: 5px;
    background-color: rgb(255, 214, 0);
    border-right: 5px solid red;
}

form>input {
    display: block;
    margin: 5px 0px 5px 0px;
    width: 400px;
    padding: 5px;
}

form>input[placeholder="username"] {
    margin: 20px 0px 0px 0px;
    border-top: 5px solid grey;

}

form>button {
    width: 407px;
    background-color: rgb(108, 167, 195);
    color: white;
    padding: 5px;
}